@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(36, 141, 7);
    padding-top: 10px;  
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color:#01ff34;
}

.container__header{
    max-width: 100%;
    background:  #faa805 ;
    height: 60px;
    margin: auto;
    padding: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
}
.menu{
    margin: auto;
    height: 0px;
    display: flex;
    align-items: center;
}
.menu nav ul{
    display: flex;
}
.menu nav ul li{
    width: 150px;
    height: 50px;
    list-style: none;
    padding: 0px 10px;
    margin: 20px 0px 0 3px;
    border-radius: 10px;  
}
.menu nav ul li:hover{
    background: rgb(36, 141, 7);  
  
}
.menu nav ul li a{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(156, 85, 4);
    transition: opacity 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu nav ul li a:hover{
    color: #ffffff;
}

#icon_menu{
    display: none;
    font-size: 34px;
    color: #01ff34;
}

.container__media{
    max-width: 60%;
    background-color: #046d19;
    margin: auto;
    border-radius: 20px;
    margin-top: 70px;
}
.red__social{
    width: 420px;
    height: 850px;
    padding: 10px 2px;
    margin-left: 10px;
}

.red__social img:hover{
    opacity: 50%;
    border-radius: 50px;
}

.red__social2{
    width: 120px;
    height: 850px;
    padding: 10px 2px;
    margin: -850px 0px 0px 430px;
}
.red__social2 img:hover{
    opacity: 50%;
    border-radius: 20px;
}

/*** PAGINA WEB EL PROFE***/
.container__mediap{
    max-width: 60%;
    height: 850px;
    background-color:#046d19;
    margin: auto;
    border-radius: 20px;
    margin-top: 70px;
}
.acce_directos{
    width: 200px;
    height: 850px;
    padding: 10px 2px;
    margin-left: 10px;
}

.acce_directos img:hover{
    opacity: 50%;
    border-radius: 50px;
}

.acce_directos2{
    width: 200px;
    height: 850px;
    padding: 10px 2px;
    margin: -850px 0px 0px 230px;
}
.acce_directos2 img:hover{
    opacity: 50%;
    border-radius: 20px;
}

/***** PRODUCTOS ****/
.container__produc{
    width: 60%;
    height: 1700px;
    background-color: #046d19;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
    justify-items: center;
    text-align: center;
}
.produc__tos img{
    width:49%;
    height:600px;
    border-style: solid;
    border-radius: 15px;
    border-color: #04841d;
    margin-top: 10px;
}

/*******FORMULARIO*******/
.form{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-top: 100px;
}

.form__container{
    width: 100%;
    display: grid;/*las filas todas iguales*/
    gap: 1em;/*Espaciador*/
    grid-auto-columns: 100%;/*Para que las columnas siempre ocupen el 100%*/
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid rgb(5, 94, 14);
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: #089FE0;
    color: #fff;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

@media (max-width: 1024px){
    .container__header,    
    main{
        padding: 20px;
    }

    .menu nav ul li{
        background-color: #056618cd;
    }
    
    .menu nav ul li a{
        font-size: 18px;
        color: white; 
    }
    .menu nav ul li a:hover{
        background: rgb(32, 125, 6); 
        
    }

    #icon_menu{
        display: flex;
        cursor: pointer;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 50px;
        overflow: hidden;/*Para que el texto se comprima*/
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }
    .menu nav ul{
        height: 300px;
        flex-direction: column;
    }
    .menu nav ul li{
        margin: 2px;
        display: flex;
        width: 170px;
        height: 70px;
    }

    .container__media{
        margin-top: 60px;;
    }
    .mostrar_menu{/*Clase Manipulada con js*/
        height: 350px;        
    }

}

@media (max-width: 920px){
    .container__header,    
    main{
        padding: 20px;
    }
    
}

/****FORMULARIO****/

@media(max-width: 460px){
    .container__header,
    main{
        padding: 20px;
    }
    .form{
        padding: 3.5em 1em;
    }
    /*.container__media{
        margin-top:60px;
    }*/

    .red__social{
        margin-left: 10px;
        width: 100px;
    }

    .red__social img{
        width: 100px;
    }

    .red__social2{
        margin: -850px 0px 0px 120px;
        width: 100px;
    }

    .red__social2 img{
        width: 100px;
    }

    /****EL PROFE****/
    .acce_directos {
        width: 100px;    
    }
    .acce_directos img {
        width: 130px;
        height: 60px;
        
    }

}